doctype html
html
    head
        base(href="/")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        link(href="stylesheet.css" rel="stylesheet" type="text/css")
    body
        nav
            ul     
                li       
                    a(href="index.html") Home   
                li 
                    a(href="/auth/register") Register
                li 
                    a(href="/auth/signin") Sign In
                li 
                    a(href="search-filter.html") Search Database
                li 
                    a(href="/quiz") Quiz
                li 
                    a(href="/my-dashboard/my-posts") Manage Posts
                    ul 
                        li 
                            a(href="/my-dashboard/my-posts") My Posts   
                        li 
                            a(href="/my-dashboard/upvoted-posts") Upvoted Posts  
                        li 
                            a(href="/my-dashboard/flagged-posts") Flagged Posts 
                        li 
                            a(href="/my-dashboard/new-post") New Post           
        div.clr
        div.container
            p(class="text-center") 
                em Flagging and Upvoting Guidelines: Please flag posts for the following reasons: 1) The statement is not a faithful record of what was said 2) The statement's author, state or other metadata is wrong 3) The person quoted is not a current or former public official (appointed or elected) or a candidate. Including the reason at the time of the flagging will expedite the process of alteration or removal. Upvote the posts that present the best arguments and evidence, not just the posts you agree with!
        div.flexbox-container
            div.flexbox-item
                a(href=link1)
                    p=title1
            div.flexbox-item
                a(href=link2)
                    p=title2 
            div.flexbox-item
                a(href=link3)
                    p=title3  
            div.flexbox-button
                a(href=link4)
                    button= "More" 
        img(src=photo_url class="centered-image" width="40%")
        h1(class="page-title-center") Libertarian Position
        div#search-results
            div#lib-wrapper 
                each post in lib_posts
                    - var my_id = post._id
                    -var flagged_string = ""
                    -var my_display = ""
                    -var my_display2 = ""
                    -if(post.flagged){flagged_string="Yes"; my_display2="none"} else{flagged_string="No"; my_display2="inline-block"}
                    -if(post.video==""){my_display="none"} else{my_display="inline"}
                    div(id=`${my_id}` class="post" data-username=`${post.user}`) 
                        p= post.content  
                        p= '('+post.politician+', ' +post.level+' politician from '+post.state+', ' +post.party+')'
                        small= 'Upvotes:'+post.upvotes+' Flagged:'+flagged_string+' User:'+post.user
                        button.upvote-button.button= 'Upvote'
                        button(class="flag-button" class="button" class=my_display2)= 'Flag'        
            h1(class="page-title-center") Interventionist Position
            div#int-wrapper 
                each post in int_posts
                    - var my_id = post._id
                    -var flagged_string = ""
                    -var my_display = ""
                    -var my_display2 = ""
                    -if(post.flagged){flagged_string="Yes"; my_display2="none"} else{flagged_string="No"; my_display2="inline-block"}
                    -if(post.video==""){my_display="none"} else{my_display="inline"}
                    div(id=`${my_id}` class="post" data-username=`${post.user}`) 
                        p= post.content
                        p= '('+post.politician+', ' +post.level+' politician from '+post.state+', ' +post.party+')'
                        small= 'Upvotes:'+post.upvotes+' Flagged:'+flagged_string+' User:'+post.user
                        button.upvote-button.button= 'Upvote'
                        button(class="flag-button" class="button" class=my_display2)= 'Flag'  
                         
    script(src="search.js")
